<div>
	
<%= link_to 'All Actors', actors_path %>

	<div id="actors" class="transitions-enabled">
		<div class="box panel panel-default">
			<div class="panel-body">
				<h2 class="center">
					<%= @actor.name %>
				</h2>
				<%= image_tag @actor.image.url(:medium) %>
		  	<%= link_to @actor, method: :delete, data: { confirm: 'Are you sure?' } do %>
            Delete
        <% end %>
        |
        <%= link_to 'Change Image', edit_actor_path %>
			</div>
		</div>
	</div>		

  <div class="center" id="new-form">
    <%= form_for @role do |f| %>
      <%= f.collection_select(:movie_id, @movies, :id, :title, {:class=>"btn btn-default dropdown-toggle"}, {:id=>"dropdownMenu1"}) %>
      <%= f.hidden_field(:actor_id, :value => @actor.id) %>
      <%= f.submit "Add Role", :class=>"btn btn-primary"%>
    <% end %>
  </div>

	<div id="movies" class="transitions-enabled">
		<% @roles.each do |role| %>
			<div class="box panel panel-default">
				<h3 class="center">
					<%= link_to "#{role.movie.title}", movie_path(role.movie)%>
				</h3>
				<div class="panel-body">
					<%= link_to image_tag(role.image.url(:medium)), movie_path(role.movie) %>
					<%= link_to role, method: :delete, data: {confirm: 'Are you sure?'} do %>
						Delete
					<% end %>
					|
					<%= link_to 'Change Image', edit_role_path(role.id) %>
				</div>
			</div>
		<% end %>
	</div>

</div>