<div>
	
<%= link_to 'All Filmmakers', filmmakers_path, class: 'btn btn-primary btn-sm' %>

	<div id="filmmakers" class="transitions-enabled">
		<div class="box panel panel-default">
			<div class="panel-body">
				<div class="center">
					<h2 class="show-page-title"><%= @filmmaker.name %></h2>
					<h4 class="center">Filmmaker</h4>
				</div>
				<%= image_tag @filmmaker.image.url(:medium) %>
		  	<%= link_to @filmmaker, method: :delete, data: { confirm: 'Are you sure?' } do %>
            Delete
        <% end %>
        |
        <%= link_to 'Change Image', edit_filmmaker_path %>
			</div>
		</div>
	</div>		

  <div class="center" id="new-form">
    <%= form_for @crew_member do |f| %>
      <%= f.collection_select(:movie_id, @movies, :id, :title, {}, {:class=>'btn btn-primary btn-lg'}) %>
      <%= f.collection_select(:job_id, @jobs, :id, :title, {}, {:class=>'btn btn-primary btn-lg'}) %>
      <%= f.hidden_field(:filmmaker_id, :value => @filmmaker.id) %>
      <%= f.submit "Add Movie", :class=>"btn btn-primary"%>
    <% end %>
  </div>

  <div class="show-content">
		<div id="movies" class="transitions-enabled">
			<% @crew_members.each do |crew_member| %>
				<div class="box panel panel-default">
					<h3 class="center">
						<%= link_to "#{crew_member.movie.title}", movie_path(crew_member.movie)%>
					</h3>
						<h4 class="center"><%= "#{crew_member.job.title}"%></h4>
					<div class="panel-body">
						<%= link_to image_tag(crew_member.movie.image.url(:medium)), movie_path(crew_member.movie) %>
						<%= link_to crew_member, method: :delete, data: {confirm: 'Are you sure?'} do %>
							Delete
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>

</div>